.rtl {
  direction: rtl;
  .hgdp-label {
    margin-left: 5px;
  }

  .hgdp-day {
    margin-left: 5px;
  }

  .hgdp-month {
    margin-left: 5px;
  }
}

.ltr {
  direction: ltr;
}

.heb-greg-date-picker {
  position: absolute;
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  border: 1px solid #555;

  .hgdp-date-selector {
    padding-bottom: 10px;

    .hgdp-label {
      width: 50px;
    }

    .hgdp-day {
      width: 50px;
      height: 21px;
    }

    .hgdp-month {
      width: 70px;
      height: 21px;
    }

    .hgdp-year {
      width: 80px;
    }
  }

  .hgdp-buttons {
    text-align: center;

    .hgdp-buttons--btn {
      display: inline-block;
      padding-left: 15px;

      text-decoration: underline;
      color: #0086b3;

      &:hover {
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

}

.heb-greg-date-picker--button {
  cursor: pointer;
}

